## Data Exploration for Online Retail II Dataset

In [119]:
import pandas as pd

In [120]:
df = pd.read_csv("../data/raw/online_retail_II.csv", sep=",")

In [121]:
df.head

<bound method NDFrame.head of         Invoice StockCode                          Description  Quantity  \
0        489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1        489434    79323P                   PINK CHERRY LIGHTS        12
2        489434    79323W                  WHITE CHERRY LIGHTS        12
3        489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4        489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24
...         ...       ...                                  ...       ...
1067366  581587     22899         CHILDREN'S APRON DOLLY GIRL          6
1067367  581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
1067368  581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
1067369  581587     22138        BAKING SET 9 PIECE RETROSPOT          3
1067370  581587      POST                              POSTAGE         1

                 InvoiceDate  Price  Customer ID         Country
0        2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1        2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2        2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3        2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4        2009-12-01 07:45:00   1.25      13085.0  United Kingdom
...                      ...    ...          ...             ...
1067366  2011-12-09 12:50:00   2.10      12680.0          France
1067367  2011-12-09 12:50:00   4.15      12680.0          France
1067368  2011-12-09 12:50:00   4.15      12680.0          France
1067369  2011-12-09 12:50:00   4.95      12680.0          France
1067370  2011-12-09 12:50:00  18.00      12680.0          France

[1067371 rows x 8 columns]>

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

In [123]:
df.describe()

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

In [124]:
df.nunique()

Invoice        53628
StockCode       5305
Description     5698
Quantity        1057
InvoiceDate    47635
Price           2807
Customer ID     5942
Country           43
dtype: int64

In [125]:
for col in df.columns:
    print(f"'{col}': {df[col].unique()}")

'Invoice': ['489434' '489435' '489436' ... '581585' '581586' '581587']
'StockCode': ['85048' '79323P' '79323W' ... '23609' '23617' '23843']
'Description': ['15CM CHRISTMAS GLASS BALL 20 LIGHTS' 'PINK CHERRY LIGHTS'
 ' WHITE CHERRY LIGHTS' ... 'mixed up'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']
'Quantity': [    12     48     24 ...    698  80995 -80995]
'InvoiceDate': ['2009-12-01 07:45:00' '2009-12-01 07:46:00' '2009-12-01 09:06:00' ...
 '2011-12-09 12:31:00' '2011-12-09 12:49:00' '2011-12-09 12:50:00']
'Price': [   6.95    6.75    2.1  ...  933.17 1714.17  224.69]
'Customer ID': [13085. 13078. 15362. ... 15520. 13298. 12713.]
'Country': ['United Kingdom' 'France' 'USA' 'Belgium' 'Australia' 'EIRE' 'Germany'
 'Portugal' 'Japan' 'Denmark' 'Nigeria' 'Netherlands' 'Poland' 'Spain'
 'Channel Islands' 'Italy' 'Cyprus' 'Greece' 'Norway' 'Austria' 'Sweden'
 'United Arab Emirates' 'Finland' 'Switzerland' 'Unspecified' 'Malta'
 'Bahrain' 'RSA' 'Bermuda' 'Hong Kong' 'Singapore' 'Thailand' 'Israel'
 'Lithuania' 'West Indies' 'Lebanon' 'Korea' 'Brazil' 'Canada' 'Iceland'
 'Saudi Arabia' 'Czech Republic' 'European Community']

In [126]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [127]:
def clean_retail_data(df: pd.DataFrame) -> pd.DataFrame:
    df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
    df = df.dropna(subset=['Customer ID'])
    df['Description'] = df['Description'].fillna("No Description")

    return df

In [128]:
df = clean_retail_data(df)

C:\Users\ariho\AppData\Local\Temp\ipykernel_11760\4209273690.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Description'] = df['Description'].fillna("No Description")

In [129]:
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [130]:
# cancelled orders
df.loc[df['Invoice'].str.startswith('C')]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.0,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
...,...,...,...,...,...,...,...,...
1065910,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
1067002,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
1067176,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
1067177,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
1067178,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [131]:
df.loc[df['Quantity'] < -80000]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
1065883,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom

In [132]:
df.loc[df.duplicated()]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
371,489517,21912,VINTAGE SNAKES & LADDERS,1,2009-12-01 11:34:00,3.75,16329.0,United Kingdom
383,489517,22130,PARTY CONE CHRISTMAS DECORATION,6,2009-12-01 11:34:00,0.85,16329.0,United Kingdom
384,489517,22319,HAIRCLIPS FORTIES FABRIC ASSORTED,12,2009-12-01 11:34:00,0.65,16329.0,United Kingdom
385,489517,21913,VINTAGE SEASIDE JIGSAW PUZZLES,1,2009-12-01 11:34:00,3.75,16329.0,United Kingdom
386,489517,21821,GLITTER STAR GARLAND WITH BELLS,1,2009-12-01 11:34:00,3.75,16329.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067136,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446.0,United Kingdom
1067150,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446.0,United Kingdom
1067153,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446.0,United Kingdom
1067160,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446.0,United Kingdom
1067162,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446.0,United Kingdom

In [133]:
df.loc[(df['Invoice'] == '489529')&(df['Description'] == 'PENNY FARTHING BIRTHDAY CARD')]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
634,489529,22028,PENNY FARTHING BIRTHDAY CARD,12,2009-12-01 11:51:00,0.42,17984.0,United Kingdom
657,489529,22028,PENNY FARTHING BIRTHDAY CARD,12,2009-12-01 11:51:00,0.42,17984.0,United Kingdom

In [134]:
df = df.drop_duplicates()

In [135]:
df.shape

(797885, 8)

In [136]:
df[df['StockCode'].str.contains('TEST', na=False)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
27994,491725,TEST001,This is a test product.,10,2009-12-14 08:34:00,4.5,12346.0,United Kingdom
28251,491742,TEST001,This is a test product.,5,2009-12-14 11:00:00,4.5,12346.0,United Kingdom
28254,491744,TEST001,This is a test product.,5,2009-12-14 11:02:00,4.5,12346.0,United Kingdom
39398,492718,TEST001,This is a test product.,5,2009-12-18 10:47:00,4.5,12346.0,United Kingdom
39411,492722,TEST002,This is a test product.,1,2009-12-18 10:55:00,1.0,12346.0,United Kingdom
45228,493410,TEST001,This is a test product.,5,2010-01-04 09:24:00,4.5,12346.0,United Kingdom
45230,493412,TEST001,This is a test product.,5,2010-01-04 09:53:00,4.5,12346.0,United Kingdom
56117,494450,TEST001,This is a test product.,5,2010-01-14 13:50:00,4.5,12346.0,United Kingdom
66084,495295,TEST001,This is a test product.,5,2010-01-22 13:30:00,4.5,12346.0,United Kingdom
89084,497819,TEST001,This is a test product.,5,2010-02-12 14:58:00,0.0,14103.0,United Kingdom
89180,497843,TEST001,This is a test product.,5,2010-02-12 15:47:00,0.0,14827.0,United Kingdom
156017,504188,TEST001,This is a test product.,5,2010-04-12 09:52:00,4.5,16454.0,United Kingdom
371777,C525272,TEST001,This is a test product.,-1,2010-10-04 16:29:00,4.5,16454.0,United Kingdom
371778,C525273,TEST001,This is a test product.,-1,2010-10-04 16:30:00,4.5,16454.0,United Kingdom
371779,C525274,TEST001,This is a test product.,-1,2010-10-04 16:33:00,4.5,12346.0,United Kingdom
371780,C525275,TEST001,This is a test product.,-2,2010-10-04 16:38:00,4.5,16446.0,United Kingdom

In [137]:
df[df['StockCode'].str.contains('BANK CHARGES', na=False)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
18410,C490943,BANK CHARGES,Bank Charges,-1,2009-12-08 14:08:00,15.000,16703.0,United Kingdom
18466,490948,BANK CHARGES,Bank Charges,1,2009-12-08 14:29:00,15.000,16805.0,United Kingdom
94431,498269,BANK CHARGES,Bank Charges,1,2010-02-17 15:03:00,15.000,16928.0,United Kingdom
148098,503497,BANK CHARGES,Bank Charges,1,2010-04-01 12:07:00,15.000,17539.0,United Kingdom
149063,C503571,BANK CHARGES,Bank Charges,-1,2010-04-01 15:45:00,15.000,17539.0,United Kingdom
153573,503960,BANK CHARGES,Bank Charges,1,2010-04-08 16:50:00,15.000,12843.0,United Kingdom
167424,505204,BANK CHARGES,Bank Charges,1,2010-04-20 16:24:00,15.000,17448.0,United Kingdom
206572,509375,BANK CHARGES,Bank Charges,1,2010-05-21 14:40:00,15.000,17448.0,United Kingdom
210149,509669,BANK CHARGES,Bank Charges,1,2010-05-25 12:03:00,15.000,17448.0,United Kingdom
231102,511774,BANK CHARGES,Bank Charges,1,2010-06-10 12:16:00,15.000,17032.0,United Kingdom
240612,512658,BANK CHARGES,Bank Charges,1,2010-06-17 11:24:00,15.000,14085.0,United Kingdom
272460,515845,BANK CHARGES,Bank Charges,1,2010-07-15 11:21:00,15.000,14606.0,United Kingdom
272462,515855,BANK CHARGES,Bank Charges,1,2010-07-15 11:24:00,15.000,17448.0,United Kingdom
290258,517648,BANK CHARGES,Bank Charges,1,2010-07-30 13:52:00,15.000,14606.0,United Kingdom
290308,517652,BANK CHARGES,Bank Charges,1,2010-07-30 14:07:00,15.000,17448.0,United Kingdom
300726,518666,BANK CHARGES,Bank Charges,1,2010-08-10 14:45:00,15.000,14606.0,United Kingdom
300727,518667,BANK CHARGES,Bank Charges,1,2010-08-10 14:47:00,15.000,14606.0,United Kingdom
331934,521809,BANK CHARGES,Bank Charges,1,2010-09-08 14:33:00,15.000,14911.0,EIRE
332015,521812,BANK CHARGES,Bank Charges,1,2010-09-08 15:00:00,15.000,16271.0,United Kingdom
343556,C522928,BANK CHARGES,Bank Charges,-1,2010-09-17 14:37:00,15.000,17032.0,United Kingdom
357970,C524124,BANK CHARGES,Bank Charges,-1,2010-09-27 14:19:00,15.000,16879.0,United Kingdom
378012,C525876,BANK CHARGES,Bank Charges,-1,2010-10-07 14:12:00,15.000,13776.0,United Kingdom
378780,C525914,BANK CHARGES,Bank Charges,-1,2010-10-07 16:14:00,45.000,13776.0,United Kingdom
455268,532637,BANK CHARGES,Bank Charges,1,2010-11-12 16:18:00,15.000,13174.0,United Kingdom
493162,535474,BANK CHARGES,Bank Charges,1,2010-11-26 13:56:00,15.000,16928.0,United Kingdom
507344,536779,BANK CHARGES,Bank Charges,1,2010-12-02 15:08:00,15.000,15823.0,United Kingdom
587969,541505,BANK CHARGES,Bank Charges,1,2011-01-18 15:58:00,15.000,15939.0,United Kingdom
678427,549717,BANK CHARGES,Bank Charges,1,2011-04-11 14:56:00,15.000,14606.0,United Kingdom
700736,551945,BANK CHARGES,Bank Charges,1,2011-05-05 11:09:00,15.000,16714.0,United Kingdom
853382,565735,BANK CHARGES,Bank Charges,1,2011-09-06 12:25:00,15.000,16904.0,United Kingdom
887201,568375,BANK CHARGES,Bank Charges,1,2011-09-26 17:01:00,15.000,13405.0,United Kingdom
887202,568375,BANK CHARGES,Bank Charges,1,2011-09-26 17:01:00,0.001,13405.0,United Kingdom
933079,571900,BANK CHARGES,Bank Charges,1,2011-10-19 14:26:00,15.000,13263.0,United Kingdom
956824,573586,BANK CHARGES,Bank Charges,1,2011-10-31 14:48:00,15.000,14704.0,United Kingdom
966206,574546,BANK CHARGES,Bank Charges,1,2011-11-04 14:59:00,15.000,13651.0,United Kingdom
1031818,579137,BANK CHARGES,Bank Charges,1,2011-11-28 12:51:00,15.000,14704.0,United Kingdom
1059469,581127,BANK CHARGES,Bank Charges,1,2011-12-07 12:45:00,15.000,16271.0,United Kingdom

In [138]:
EXCLUDE_CODES = ['TEST', 'BANK CHARGES', 'POST', 'D', 'DOT', 'CRUK', 'M']
df = df[~df['StockCode'].astype(str).isin(EXCLUDE_CODES)]

In [139]:
df = df.loc[df['Price'] > 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
4252,489805,21518,BANK ACCOUNT GREETING CARD,12,2009-12-02 12:39:00,0.42,17377.0,United Kingdom
13013,490465,21518,BANK ACCOUNT GREETING CARD,12,2009-12-06 12:14:00,0.42,13448.0,United Kingdom
21217,491082,21518,BANK ACCOUNT GREETING CARD,12,2009-12-09 13:16:00,0.42,16709.0,United Kingdom
28838,491809,21518,BANK ACCOUNT GREETING CARD,24,2009-12-14 13:19:00,0.42,17965.0,United Kingdom
53037,494239,21518,BANK ACCOUNT GREETING CARD,12,2010-01-12 15:48:00,0.42,14081.0,United Kingdom
...,...,...,...,...,...,...,...,...
640612,546108,21518,BANK ACCOUNT GREETING CARD,12,2011-03-09 12:35:00,0.42,15529.0,United Kingdom
646726,546751,21518,BANK ACCOUNT GREETING CARD,12,2011-03-16 12:45:00,0.42,13668.0,United Kingdom
651160,547058,21518,BANK ACCOUNT GREETING CARD,12,2011-03-20 12:44:00,0.42,14232.0,United Kingdom
669466,548715,21518,BANK ACCOUNT GREETING CARD,12,2011-04-03 15:22:00,0.42,17758.0,United Kingdom
671499,548968,21518,BANK ACCOUNT GREETING CARD,72,2011-04-05 10:58:00,0.36,12744.0,Singapore